

body,
html {
    width: 100%;
	height: 100%;
}
body{
	background: url("./Photos/bg-pic.jpg") ;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
body, p {
	font: 400 1rem/1.925rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
}
h1 {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2 {
	color: #ffffff;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
}
h3 {
	color: #24262a;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h4 {
	color: #ffffff;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h5 {
	color: #ffffff;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h6 {
	color: #24262a;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a {
	color: #4d5055;
	text-decoration: underline;
}
a:hover {
	color: #4d5055;
	text-decoration: underline;
}
.no-line {
	text-decoration: none;
}
.no-line:hover {
	text-decoration: none;
}



.navbar {
	background-color: #000000;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
	padding-top: 1rem;
	padding-bottom: 1.125rem;
}
.navbar .logo-image img {
	position: relative;
	width: 50px;
	height: 50px;
}
.page-name{
	font-weight: lighter;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.page-name:hover{
	color: white;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #24262a;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.navbar .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color:#0b36a8;
}

.navbar .fa-stack {
	width: 2em;
	font-weight: lighter;
	font-size: 1.5rem;
}

.navbar .fa-stack-2x {
	color: #0b36a8;
	transition: all 0.2s ease;
	cursor: pointer;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .fa-stack-1x:hover{
	color: #0b36a8;
}



.header {
	padding-top: 7rem;
	padding-bottom: 5.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./Photos/me.jpeg'); 
	background-size: cover;
	text-align: center;
}

.header .mainheading{
	margin-bottom: 1.75rem;
	color: white;
	font-family: Brush Script;
	font-weight: lighter;
	
}.h1-large{
	color: #ffffff;
	font-family: Brush Script;
	font-weight: lighter;
}.subheading {
	color: white;
	font-family: Brush Script;
	font-weight: lighter;
	font-size: 1.75rem;
	margin-bottom: 8rem;
}.h3-large{
	font-family: Brush Script;
	font-weight: lighter;
	font-size: 2.5rem;
}



.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 5.25rem;
	background-color: #fdfeff ;
	opacity: .6;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .time {
	margin-bottom: 0.5rem;
	color: #000000;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-container .card-body{
	background-color: #eeeeee;
}

.text-container .card-body .card-content{
	text-align: justify;
}




.basic-2 {
	background-color: black;
    padding-top: 4.75rem;
    padding-bottom: 1.25rem;
    color: white;
}

.basic-2 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.basic-2 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

.basic-2 .text-box {
	box-sizing: 0 0 5px black(0,0,0,0,5);
	padding-right: 2.125rem;
	padding-left: 2.125rem;
	margin-bottom: 3rem;
	padding: 2rem 1rem 2.125rem 1rem;
	border: 1px solid #cfd7de;
}

.basic-2 .fas,
.basic-2 .far {
	margin-bottom: 1.75rem;
	color: #0b36a8;
	font-size: 3.5rem;
}

.basic-2 h4 {
	letter-spacing: 1px;
}



.readMore{
	display: none;
	transition: 0.5s linear;
	color: white;
}

label{
	color: #0b36a8;
	display: block;
	margin-bottom: -2rem;
	cursor: pointer;
}

#check{
	display: none;
}

#check:checked ~ .readMore{
	display: block;
}

#check:checked ~ label{
	visibility: hidden;
}

#check:checked ~ label:after{
	content:'show less';
	display: block;
	visibility: visible;
}



.split .area-1 {
    height: 430px;
	background: url('./Photos/web_development.webp') center center no-repeat;
	background-size: cover;
}

.split .area-2 {
	padding-top: 4.75rem;
	padding-bottom: 4.75rem;
	background-color: rgb(0, 0, 0);
}

.split p {
	margin-bottom: 2.25rem;
	color: white;
}

.split .icons-container {
	margin-top: 3rem;
	display: grid;
}

.split .icons-container img {
	width: 50px;
	margin-right: 0.625rem;
	margin-bottom: 0.75rem;
}




.skill-area-1{
	margin-right: 1rem;
}
.icon-container{
	margin-top: 2rem;
}
.icon-container img{
	vertical-align: middle;
    border-style: none;
    width: 3rem;
}
.meter {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.skill{
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skill .val{
	float: right;
	font-style: normal;
	margin-top: .7rem;

}
.meter span {
    display: block;
    height: 100%;
}
.progress {
    background-color: #0b36a8;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}


.accordion-1 .accordion {
    width: 80%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
.accordion-1 .card button {
    padding: 0;
    color: #000000;
    font-weight: 600;
    font-size: 2rem;
    line-height:3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.accordion-1 .card-body {
    padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: lightsteelblue;
    border-radius: 1rem;
}

.accordion-1 {
	padding-top: 3.25rem;
	padding-bottom: 1.75rem;
	background-color: #cfd7de;
	opacity: 0.6;
}

.accordion-1 .h2-heading {
	margin-bottom: 2.5rem;
	text-align: center;
}

.accordion-1 .card {
	margin-bottom: 1.75rem;
	border: none;
	background-color: #cfd7de;
}

.accordion-1 .card-header {
	padding: 0;
	border: none;
	background-color: transparent;
}

.accordion-1 .card button {
	padding: 0;
	color: #000000;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.accordion-1 .card button:hover {
	text-decoration: none;
}

.accordion-1 .card button:before {
	float: left;
	margin-right: 0.625rem;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f078";
	transition: all 0.2s;
}

.accordion-1 .card button.collapsed:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 

.accordion-1 .card-body {
	padding: 0.75rem 1.5rem 0.5rem 1.5rem;
}




.footer {
	padding-top: 2.25rem;
	background-color: #000000;
	text-align: center;
}

.footer a {
	text-decoration: none;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #0b36a8;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #0b36a8;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #ffffff;
}



.copyright {
	padding-top: .5rem;
	padding-bottom: 1rem;
	background-color: #000000;
	text-align: center;
}

.copyright .p-small {
	color: #9da6ac;
	text-align: center;
}

.copyright a {
	color: #9da6ac;
}



a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #3a424d url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #0b36a8;
}



@media (min-width:370px){


	h5{
		font-size: 20px;
	}
	p{
		font-size: 15px;
		font-weight: 400;
	}

	.basic-1 {
		padding-top: 2.75rem;
		padding-bottom: 0rem;
		background-color: #fdfeff;
	}


	.navbar .navbar-brand {
		padding-top: 0rem;
    	padding-bottom: 0.15rem;
	}
	.navbar .logo-image img {
		position: relative;
		width: 32px;
    	height: 32px;
	}
	.page-name{
		font-weight: lighter;
		color: white;
		text-decoration: none;
		cursor: pointer;
		font-size: 1.5rem;
	}


    .text-container{
        padd
    }
	.text-container p{
		font-weight: 500;
	}

	.card-content p{
		font-weight: 500;
	}

	
	.split .area-2 {
		padding-top: 2.75rem;
		padding-bottom: 1.75rem;
		background-color: rgb(0, 0, 0);
	}



	.d-md-block {
		display: block!important;
	}

	.accordion-1 .accordion {
		width: 90%;
		text-align: left;
		margin-right: auto;
		margin-left: auto;
	}
	.accordion-1 .card button {
		padding: 0;
		color: #000000;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.75rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.accordion-1 .card-body {
		padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    	font-size: 1.1rem;
    	font-weight: 500;
    	margin-top: 1rem;
    	background-color: lightsteelblue;
    	border-radius: 1rem;
	}
	
}



@media (min-width: 768px) {
      

	.header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}
	
	
	h5{
		font-size: 25px;
	}
	p{
		font-size: 20px;
		font-weight: 400;
	}
	

	.navbar .navbar-brand {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	.navbar .logo-image img {
		position: relative;
		width: 35px;
    	height: 35px;
	}
	.page-name{
		font-weight: lighter;
		color: white;
		text-decoration: none;
		cursor: pointer;
		font-size: 1.5rem;
	}


	.basic-2 .text-box {
		padding-right: 1.125rem;
		padding-left: 1.125rem;
	}


	.text-container p{
		font-weight: 500;
	}

	.card-content p{
		font-weight: 500;
	}

	.accordion-1 .accordion {
		width: 90%;
		text-align: left;
		margin-right: auto;
		margin-left: auto;
	}
	.accordion-1 .card button {
		padding: 0;
		color: #000000;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.75rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.accordion-1 .card-body {
		padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    	font-size: 1.1rem;
    	font-weight: 500;
    	margin-top: 1rem;
    	background-color: lightsteelblue;
    	border-radius: 1rem;
	}

}


@media (min-width: 992px) {


	.text-container{
		margin-left: .5rem;
	}
	.text-container .mainheading, .h1-large, .h3-large{
		font-size: 3rem;
	}
	.text-container .subheading{
		font-size: 2.5rem;
	}
	.text-container p{
		font-weight: 500;
	}

	.card-content p{
		font-weight: 500;
	}


	.navbar {
		padding-top: 0.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-top: 0.5rem;
		background-color: #24262a;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-brand {
		padding-top: 1rem;
		padding-bottom: 1.125rem;
	}
	.navbar .logo-image img {
		position: relative;
		width: 50px;
		height: 50px;
	}
	.page-name{
		font-weight: lighter;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	

	.row .time{
		font-size:2.5rem
	}
	.row p{
		font-size: 1.4rem;
		font-weight: 500;
	}
	.text-container #ug{
		height: 17rem;
	}


	#services{
		padding-top: 3.75rem;
	}
	.h2-heading{
		font-size:2.5rem ;
	}


	.split {
		height: auto;
	}
	
	.split .area-1 {
		height: 40rem;
		width: 100%;
		display: inline-block;
	}
	
	.split .area-2 {
		height: 100%;
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	.split .text-container {
		width: 90%;
		margin-left: 3rem;
	}
	

	.accordion-1 .accordion {
		width: 70%;
		text-align: left;
		margin-right: auto;
		margin-left: auto;
	}
	.accordion-1 .card button {
		padding: 0;
		color: #000000;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.85rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.accordion-1 .card-body {
		padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    	font-size: 1.3rem;
    	font-weight: 500;
    	margin-top: 1rem;
		margin-bottom: 1rem;
    	background-color: lightsteelblue;
    	border-radius: 1rem;
	}
	
}
   

@media (min-width: 1200px) {


	
	.h1-large {
		font-size: 3.75rem;
		line-height: 4.625rem;
	}
	

	.navbar .container {
		max-width: 1330px;
	}
	.navbar .navbar-brand {
		padding-top: 1rem;
		padding-bottom: 1.125rem;
	}
	.navbar .logo-image img {
		position: relative;
		width: 50px;
		height: 50px;
	}
	.page-name{
		font-weight: lighter;
		color: white;
		text-decoration: none;
		cursor: pointer;
	}
	

	.header {
		padding-top: 13.25rem;
		padding-bottom: 17.25rem;
	}


	.basic-1 .text-container.first {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.basic-1 .text-container.second {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.basic-1 .text-container.third {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.text-container p{
		font-weight: 500;
	}

	.text-container #ug{
		height: 15rem;
	}
	.card-content p{
		font-weight: 500;
	}

	#design{
		height: 25rem;
	}

	#development{
		height: 25rem;
	}
	

	.split {
		height: 55rem;
		background-color: #000000;
		padding-top: 4.75rem;
	}

	.split .area-1{
		width: 60%;
		height: 93%;
		object-fit: cover;
	}
	
	.split .area-2{
		padding-top: 0%;
		width: 35%;
	}

	.split .text-container {
		width: 460px;
		margin-left: 1rem;
	}
	
	
	.accordion-1 .accordion {
		width: 80%;
		text-align: left;
		margin-right: auto;
		margin-left: auto;
	}
	.accordion-1 .card button {
		padding: 0;
		color: #000000;
		font-weight: 600;
		font-size: 2rem;
		line-height:3rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	.accordion-1 .card-body {
		padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    	font-size: 1.75rem;
    	font-weight: 500;
    	margin-top: 1rem;
		margin-bottom: 1rem;
    	background-color: lightsteelblue;
    	border-radius: 1rem;
	}

}